body {
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main-header {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: xxx-large;

    display: flex;
    justify-content: center;
}

.form {
    /* background-color: pink; */
    height: 40px;
    display: flex;
    justify-content: center;
}

.input {
    width: 60%;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
}

.add-btn {
    width: 10%;
    margin-left: 10px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.table-container {
    width: 75%;
    margin: auto;
}

table {
    margin-top: 50px;
}

th {
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.delete-button {
    background-color: red;
    border: solid 1px red;
    border-radius: 5px;
    color: white;
    width: 60px;
    padding: 5px;
}

.edit-button {
    background-color: orange;
    border: solid 1px orange;
    border-radius: 5px;
    color: white;
    width: 60px;
}